<form action="/users/login" method="post">
    <html>
    <head>
        <link rel="stylesheet" href="/css/register.css"/>
    </head>
    <div class ='container'>
        <h1>Log-in</h1>
        <p>Log-in to your account</p>
        <label for="email">Email</label>
        <br/>
        <input type="email" name="email" placeholder="Enter your email address"required/>
        <br/>
    
        <label for="username">Username</label>
        <br/>
        <input type="text" name="username" placeholder="Username" require/>
        <br/>
    
        <button type="submit" class ='registerbtn'>Register</button>
        </div>
    
    
    </form>
    </html>