<form action="/users/register" method="post">
<html>
<head>
    <link rel="stylesheet" href="/css/register.css"/>
</head>
<div class ='container'>
    <h1>Register</h1>
    <p>Register a new account</p>
    <label for="email">Email</label>
    <br/>
    <input type="email" name="email" placeholder="Enter your email address"required/>
    <br/>

    <label for="username">Username</label>
    <br/>
    <input type="text" name="username" placeholder="Username" require/>
    <br/>

    <button type="submit" class ='registerbtn'>Register</button>
    </div>

<div class="container signin">
    <p>Already have an account? <a href=http://localhost:3000/users/login>Sign in</a>.</p>
</div>

</form>
</html>